<div class="card text-white bg-dark mb-3" style="max-width: 50rem;">
  <div class="card-header">{{blog.title}}  <p>Created by {{user.name}} on {{format_date date_created}}</p></div>

  <div class="card-body">
    <p class="card-text">{{blog.description}}.</p>
  </div>
</div>