<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p>Created on {{format_date createdAt}}</p>
  <p>Updated on {{format_date updatedAt}}</p>
    <button class="btn btn-primary">Update Post</button>
  </p>
</div>



<script src="/js/updatepost.js"></script>