{{#each blogs as |blog| }}
<div class="card text-white bg-dark mb-3" style="max-width: 50rem;">
   <div class="card-header">{{blog.title}}  <p>Created by {{user.name}} on {{format_date blog.createdAt}}</p></div>
  <div class="card-body">
    <p class="card-text">{{blog.description}}.</p>
    <p class="card-text"> Add a Comment</p>
  </div>
</div>
{{/each}}  