{{#each blogs as |blog| }}
{{!-- {{#each blog}} --}}
{{!-- <div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{blog.title}} {{user.name}} {{blog.createdAt}}</h2>
  </div>
  <div class="col-md-6">
    <p>{{blog.description}}</p>
  </div>
</div> --}}
{{/each}}
