  
<div class="home">
  <h1>Write Your New Blog</h1>
  <form class="blog-form">
    <div class="form-group">
      <label for="newblog" class="login">enter title:</label>
      <br>
      <input class="form-input newInput" type="text" id="newblogTitle" />
    </div>
    <div class="form-group">
      <label for="blogBody">write your blog:</label>
      <br>
      <textarea id="blogBody" name="blogBody" rows="10" cols="60"></textarea>
    </div>

    <div class="form-group">
      <button class="newblogBtn" type="submit">Save Blog</button>
    </div>

    <script src="/js/newBlog.js"></script>